<html>
  <head>
    <title>Django blog</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Czesc Czarek - to Twoj nowy blog</a></h1>
      </div>

      <div>
        <p>published: 02.11.2018, 10:00</p>
        <h2><a href="">First blog post</a></h2>
        <p>Here is space for some text</p>
      </div>

      <div>
        <p>published 02.11.2018, 10:11</p>
        <h2><a href="">Second blog post</a></h2>
        <p>Here is space for some more text</p>
      </div>
    </body>
</html>
